---
title: 首页
my_variable1: head.html
my_variable2: sidebar.html
my_variable3: note-icon.html
main_title: "Djerry介绍"
main_content: "在2017年的夏季。我搭建了这个网站来分享学习中的经验，灵感和细节。BLOG归纳总结学习内容,GAME是一些有趣游戏，MUSIC收集有Hardstyle风格的音乐。希望你能喜欢:)。"
pagination: 
  enabled: true
---
<!DOCTYPE html>
<html lang="en-us">
 {% include {{ page.my_variable1 }} %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />	
    <link href="public/css/index.css" rel="stylesheet" type="text/css" />
	<script src="/public/js/index.js"></script>
    <script src="/public/js/modernizr-2.6.2.min.js"></script>
	<script>
	document.addEventListener("DOMContentLoaded", function(){
	document.body.style.display = "block";//等待CSS全部加载完再显示
	var c = document.getElementsByClassName('sidebar')[0].offsetWidth;
	var d = document.body.offsetWidth;
	var res = 1-c/d;
	res = res.toFixed(2)*100;
	var divOne=document.getElementById('divOne');
	divOne.style.width=res+'%';
	divOne.style.left=(100-res)+'%';
	window.zhan=1;
	window.view=1;
	 });
	 </script>
	<script>	
	function touchm (event){  
            var event = event || window.event;    
            event.preventDefault(); //阻止touchmove的默认动作
     } 
	function touche (event){  
            var event = event || window.event;    
            event.preventDefault(); //阻止touchend的默认动作
			zhanyin();
     } 
  	function zhanyin(){
	var labelm=document.getElementById('sidebar-checkbox');
	var divm=document.getElementById('divOne');
	var a=document.getElementById('sidebar-toggle').innerHTML;
	if(zhan==0){
	labelm.checked=false;
	divm.removeEventListener('touchmove',touchm); 
	divm.removeEventListener('touchend',touche);
	document.getElementById('divOne').style.display="none";
	zhan=1;
	//document.getElementById('sidebar-toggle').innerHTML = '展开';//通过id获取label,修改值为2
	//document.body.style.overflowY="scroll";
	//document.getElementsByClassName('wrapall')[0].style.position = "relative";
	}else{
	labelm.checked=true;//这儿相当于实现了for功能
	document.getElementById('divOne').style.display="block";
	zhan=0;
	//document.getElementById('sidebar-toggle').innerHTML = '隐藏';//通过id获取label,修改值为2
	//document.body.style.overflowY="hidden";//隐藏且禁用
	//document.getElementsByClassName('wrapall')[0].style.position = "fixed";
	divm.addEventListener('touchmove',touchm); 
	divm.addEventListener('touchend',touche);  
	}
	}
	function preview(){
		var labelp=document.getElementById('button-lock');
		if(view==0){
			labelp.checked=false;
			view=1;
		}else{
			labelp.checked=true;
			view=0;
		}
	};
	</script>
 </head>
 <body>
	<input class="sidebar-checkbox" id="sidebar-checkbox" type="checkbox" /> 
	<input style="display:none" id="button-lock" type="checkbox" /> 
	{% include {{ page.my_variable2 }} %}
    <div class="wrapall">
      <div class="masthead-index" style="">
		<div class="masthead-title">
        <h3>
        <a href="/translation-napoleon-hill.html">Napoleon Hill</a> 
        <small>“If you can&#39;t do great things, do small things in a great way.”</small>
		<a class="has-ajax" style="margin-top:-1rem;">What&#39;s Next</a>
		</h3>
		</div>
      </div>
	  {% include {{ page.my_variable3 }} %}
      <div class="cover">
        <aside class="sidebar-index">
          <div class="index-logo">
            <img src='/images/index/logo.png' />
          </div>
          <div class="index-item">
            <header>
              <h2 color="white">{{page.main_title}}</h2>
            </header>
            <p style="text-indent:2em;word-wrap:break-word;">{{page.main_content}}</p>
          </div>
        </aside>
        <div class="stage" onmousemove="show(event);">
          <div class="prev-next">
          <a class="previous" onclick="clicktomove(0);"></a> 
          <a class="next" onclick="clicktomove(1);"></a></div>
          <div class="inner-layer" data-depth="0.40">
            <div class="slides">
              <article class="onair-episode">
			  <div class="header">
			  <h3>TYPE</h3>
			  <h2 style="font-size:3rem;">BLOG</h2>
			  112{{paginator}}
			  <span style="color:#a2a2b0">最近更新:09 Apr 2017</span>
			  </div>
			  <a href="/blog" class="btn-in btn-same">See More</a>
			   <canvas style="display: block;"></canvas>
              </article>
              <article class="onair-episode">
			      <div class="header">
			  <h3>TYPE</h3>
			  <h2 style="font-size:3rem;">GAME</h2>
			  <span style="color: #0497db;text-shadow: #6f0303 2px 0 0;">update-time:July 23st,2017</span>
			  </div>
			  <a href="/" class="btn-in btn-same">See More</a>
               <img src="/images/index/life.jpg" height="auto" width="100%"/>
              </article>
			  <article class="onair-episode">
			        <div class="header">
			  <h3>TYPE</h3>
			  <h2 style="font-size:3rem;">MUSIC</h2>
			  <span style="color: #f8e136;text-shadow: #058020 2px 0 0;">update-time:July 23st,2017</span>
			  </div>
			  <a href="/" class="btn-in btn-same">See More</a>
                <img src="/images/index/music.png" height="100% !important" width="100%" />
              </article>
              <article class="onair-episode last-art">
				<div class="header">
			    <label id="preview" class="div-center" onclick="preview()">模块预览</label>
				<h2 style="margin-top:52%;">LOCK</h2>
				</div>
                <img class="lock" src="/images/index/lock.png"/>
				<div class="input-container" style="position: relative;">
				<input class="index-lock" placeholder="Enter password"></input>
				</div>
				<a onclick="preview()" class="btn-lock btn-same" >Launch</a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
	<button id="close-button" ></button>
	<label id="sidebar-toggle" onclick="zhanyin()" class="sidebar-toggle"></label>
    <label id="divOne" onclick="zhanyin()" class="wrap"></label>
	<label id="divTwo" onclick="preview()" class="wrap">
	<div class="header"><h2>功能开发中！！！</h2></div>
	</label>
  </body>
</html>
