.page__reactions {
    position: relative;
    margin-bottom: 4em;
}

/*.page__section-label::before {
    position: absolute;
    bottom: -.5em;
    content: "";
    height: .25em;
    width: 3em;
    background-color: #333;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}*/
.page__section-label {
    position: relative;
    margin: 0 0 2em;
    padding: 0;
    font-size: 1.563em;
}
.page__content figcaption, .page__section-label {
    font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
}
.btn, .highlight, .palette__swatch, a, b, blockquote, em, figure, form button, h1, h2, header, i, img, input, input[type="submit"], p, q, span, strong, td, tr {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.comment {
    position: relative;
    margin-bottom: 4em;
    padding-left: 4.5em;
    font-size: .8em;
}

.comment__avatar::after {
    bottom: .5em;
    right: .5em;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='stripe-svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M-1,1 l2,-2 M0,10 l10,-10 M9,11 l2,-2' stroke='%23333' stroke-width='1' /%3E%3C/svg%3E");
    background-size: 5px 5px;
    z-index: -1;
}

.comment.child::before {
    top: -3em;
    height: 2em;
}

.comment.child::after {
    top: 4em;
    bottom: -1em;
}
.comment.child::after, .comment.child::before {
    position: absolute;
    left: 1.5em;
    content: "";
    width: .5em;
    background-color: #e3e3e3;
}
.comment.child {
    margin-left: 4.5em;
}

.comment__avatar, .comment__avatar::after {
    position: absolute;
    width: 3.25em;
    height: 3.25em;
}
.comment__avatar {
    top: 0;
    left: 0;
}

.comment__author-name {
    margin: 0 0 .25em;
    font-size: 1.25em;
    line-height: 1;
}

.btn, .highlight, .palette__swatch, a, b, blockquote, em, figure, form button, h1, h2, header, i, img, input, input[type="submit"], p, q, span, strong, td, tr {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

a img {
	border:.125em solid #333;
	box-shadow:.25em .25em #333;
}
a img:hover {
	box-shadow:.5em .5em #333;
}


.comment__author-name a {
	color:inherit;
	text-decoration:none;
}

.comment__timestamp {
	font-family:-apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
	font-size:.8em;
}
.comment__timestamp a {
	color:inherit;
	text-decoration:none;
}

.comment__content>figure,.comment__content>ol,.comment__content>p,.comment__content>table,.comment__content>ul {
	margin-bottom:1.5em;
}
.comment__content ul {
	list-style-type:square;
}
.comment__content li {
	margin-bottom:.5em;
}
.comment__content li>ol,.comment__content li>ul {
	margin-top:.5em;
}
.comment__content img {
	max-width:100%;
}
.comment__content div.highlighter-rouge .highlight code {
	font-size:.8em;
}
.comment__reply .btn {
	font-size:.64em;
}
.btn {
    display: inline-block;
    margin-bottom: .25em;
    padding: 10px 20px;
    color: #fff !important;
    font-family: Menlo,Consolas,Monaco,Courier New,Courier,monospace;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border: 0 !important;
    cursor: pointer;
}

#send {
	width:80px;
    position: left;
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}
.comment-form {
    margin-bottom: 3em;
}
.comment-form h2{
	color:#333;
	margin:1em 0 .5em;
	font-size:1em;
}
.comment-form input,#post-comment-form textarea {
	padding:10px;
	margin-bottom:1em;
	font-size:1em;
	width:100%;
	padding:.2em .4em;
}
.comment-form textarea {
	width:100%;
	height:10em;
}

input, select, select[multiple="multiple"], textarea {
    box-sizing: border-box;
    margin-bottom: .25em;
    padding: .5em;
    width: 100%;
    font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
    font-size: 16px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
    -webkit-transition: border-color;
    transition: border-color;
}
input, label, select {
    display: block;
}
.masthead-title{
margin-left: auto;
margin-right: auto;
max-width: 38rem;
padding-left: 1rem;
padding-right: 1rem;
}
.toaster {
 position:fixed;
 padding:25px;
 width:95%;
 bottom:15px;
 left:2.5%;
 z-index:10;
 background-color:rgba(0,0,0,0.82);
 color:#fffff5
}
.toaster__close {
 position:absolute;
 font-size:1.2em;
 top: 0px;
 right: 0px;
}
.socials_parent{
	height:350px;
	position: relative;
	overflow: hidden;
	display:block;
}
.socials_background{
	position:absolute;
	height: 180%;
	width: 100%;
	background-size: cover;
	background-attachment:fixed;
	transition: all 2s;
	background-position:50%;
}
.show{
	height: 100%;
	width: 100%;
	position:relative;
	z-index: -1;
}
.page__header{
	height: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3.4rem;
}
.intro-title {
 margin-bottom:1rem;
 line-height:1;
 font-size:26px;
 color: #595e65 !improtant;
}
@media screen and (min-width:320px) {
 .intro-title {
  font-size:calc(26px + 54 * ((100vw - 320px) / 960))
 }
 
.entry-meta {
    font-size: calc(12px + 4 * ((100vw - 320px) / 960));
}
}
@media screen and (min-width:1280px) {
 .intro-title {
  font-size:80px
 }
 .entry-meta {
    font-size: 16px;
}
}
.intro-text{
color:#fff;
font-size: 1.5em;
line-height: 1.625;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: #fff 0px 0px 10px;
-moz-box-shadow: #fff 0px 0px 10px;
box-shadow: #000 0px 0px 10px;
text-shadow: red 3px 3px 3px;
margin-bottom:0rem;
}
.link-comment{
text-decoration: none;
color:black !important;
}
.image-caption {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1em;
    color: #08ff8e;
    font-size: .6em;
    line-height: 1;
    text-align: right;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    opacity: .9;
}
.tag{
	font-size: 0.7rem;
    position: absolute;
    left: 0;
    bottom: 0rem;
	z-index:1001;
	height: 3rem;
	box-shadow: black 0px 0px 10px;
}
.tag-1{
	float: left;
	font-size: 0.8rem;
	color: #fff;
	text-shadow: #060606 3px 3px 3px;
}
a.con_button {
    display: block;
    background-color:black;
    float: left;
    position: relative;
    padding-right: 20px;
    overflow: hidden;
	margin-left:5px;
	margin-top: 3px;
}
a.con_button:first-of-type
{ 
background-color:red;
}
a {
    text-decoration: none;
    border: 0;
}
a.con_button .con_button_text {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    display: block;
    color: #fff;
    padding: 0.1rem 0.5rem;
    padding-right: 0.5rem;
    text-shadow: 0 1px 1px #000000;
    position: relative;
}
a.con_button.con_button2 .con_button_arrow {
    background: #1a86ac url(/images/post-tag-arrow.png) no-repeat left center;
}
a.con_button .con_button_arrow {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    left: 100%;
    height: 100%;
    background: #1a86ac url(/images/post-tag-arrow.png) no-repeat right center;
    overflow: hidden;
    color: #fff;
}
a.con_button2 .con_button_arrow span {
    display: block;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    padding: 0.15rem 0rem 0.15rem 1.4rem;
    width: 0;
    white-space: nowrap;
    text-shadow: 0 1px 1px #000000;
}
.is-clear{
	-webkit-filter: blur(0px);
	filter: blur(0px);
}
.not-clear{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}
.subscribe {
    margin: 1rem 0;
	font-size: .8em;
}
.subscribe input{
	display: inline;
	width: auto;
	margin-right: .5em;
	margin-bottom: .25em;
	padding: .75em;
	transition: border-color;
	border-color: #d7d8da;
	border-style: solid;
	border-width: 1px 1px 4px;
	border-radius: .25em;
	background-color: #fff;
	font-family: Roboto,sans-serif;
	font-size: 16px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
}


