.highlight {
margin-right:0;
margin-left:0;
background-color:#f5f5f6;
padding:1em 2vw;/*1em定义上下，2vw定义左右*/
}
.highlight pre {
width:100%;
margin:0;
}

.highlight table {
border:0;
font-size:1em;
margin:0;
}

.highlight table tr {
border:0;
}

.highlight table td {
border:0;
padding:5px;
}

.highlight table td.gutter {
padding-right:1rem;
}

.highlight table pre {
margin:0;
}

.highlight .lineno {
color:#9c9fa3;
}

.highlight .ge {
color:#586e75;
font-style:italic;
}

.highlight .gs {
color:#586e75;
font-weight:700;
}

.highlight .nb {
color:#b58900;
}

.highlight .c,.highlight .cm,.highlight .c1,.highlight .sb {
color:#93a1a1;
}

.highlight .err,.highlight .g,.highlight .l,.highlight .n,.highlight .p,.highlight .go,.highlight .gp,.highlight .gt,.highlight .ld,.highlight .na,.highlight .nl,.highlight .nn,.highlight .nx,.highlight .py,.highlight .w,.highlight .sd,.highlight .sh {
color:#586e75;
}

.highlight .k,.highlight .o,.highlight .cp,.highlight .cs,.highlight .gi,.highlight .kn,.highlight .kp,.highlight .ow {
color:#859900;
}

.highlight .x,.highlight .gh,.highlight .gu,.highlight .kc,.highlight .no,.highlight .ne,.highlight .ni,.highlight .se {
color:#cb4b16;
}

.highlight .gd,.highlight .m,.highlight .s,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .sc,.highlight .s2,.highlight .si,.highlight .sx,.highlight .s1,.highlight .ss,.highlight .il {
color:#2aa198;
}

.highlight .gr,.highlight .kt,.highlight .sr {
color:#dc322f;
}

.highlight .kd,.highlight .kr,.highlight .nc,.highlight .nd,.highlight .nf,.highlight .nt,.highlight .nv,.highlight .bp,.highlight .vc,.highlight .vg,.highlight .vi {
color:#22b3eb;
}
@media only screen and (max-width:64em){
.highlight {
 margin-right:-5vw;
 margin-left:-5vw;
 padding-right:1em;
 padding-left:1em;
}
}
pre {
font-family:monospace,monospace;
font-size:1em;
overflow-x:auto;
word-wrap:break-word;
page-break-inside:avoid;
}

code,kbd,samp {
font-family:monospace,monospace;
font-size:1em;
}

.comment-content div.highlighter-rouge .highlight code {
font-size:.8em;
}

.component__code {
clear:both;
position:relative;
padding-top:3em;
}

.component__code:before {
content:"HTML";
position:absolute;
top:1.5em;
font-size:.8rem;
font-weight:700;
text-transform:uppercase;
}

@media screen and min-width320px{
pre {
font-size:calc(12px+4*((100vw-320px) / 960px;
}
}

@media screen and min-width1280px{
pre {
font-size:16px;
}
}