<div id="inedx-news" class="">
    <div class="news">
        <header>
            <a class="close">×</a>
			<h1>{% if page.note_title==null %}{{site.note_title}}{% else %}{{page.note_title}}{% endif %}</h1>
        </header>
        <article>
            <p>{% if page.note_title==null %}{{site.note_content}}{% else %}{{page.note_content}}{% endif %}</p>
        </article>
        <footer>
            <div class="source">
            <span class="date">{% if page.note_title==null %}{{site.note_time}}{% else %}{{page.note_time}}{% endif %}</span>
			</div>
			<a>
			<span class="glyphicon glyphicon-heart"></span>
			<span class="text">0</span>
			 </a>
        </footer>
    </div>
</div>
<!---
site：包含了网站信息和_config.yml里面的信息
page:在yaml front matter的自定义的变量通过page访问
content:_layouts里面，不定义在_post和其他页面中。包含了post和其他页面里面的文章内容。
paginator:paginate在_config_yml里面配置以后，这个变量就可以用了。
--->