{% unless page.comments_locked == true %}
 <!-- Start new comment form -->
<id id="respond">
<form id="comment-form" class="comment-form" action="{{ site.staticmanUrl}}" method="post">
 <h2 class="page__section-label">Leave a Comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">Cancel reply</a></small></h2>
         <fieldset class="hidden" style="display: none;">
			<input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
            <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
		 </fieldset>
		<input name="fields[name]" placeholder="Name" required="" type="text">
		<input name="fields[email]" placeholder="Email address (will not be public)" type="email">
		<input name="fields[url]" placeholder="Website (optional)" type="url"> 				
		<textarea rows="10" name="fields[message]" placeholder="Comment. Markdown is accepted." required=""></textarea>
		<input id="send" value="Send" type="submit">
</form>
</div>
{% else %}
<p><em>Comments are closed. If you have a question concerning the content of this page, please feel free to <a href="{{ site.url }}/contact/">contact me</a>.</em></p>
{% endunless %}




   

  