<label class="sidebar"><img src="\images\sidebar.jpg">
  <div class="sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description-ch }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">主页</a>
	  <a class="sidebar-nav-item" href="/sidebar/article.html">博文</a>
	  <a class="sidebar-nav-item" href="/sidebar/directory.html">目录(归档&分类)</a>
      <a class="sidebar-nav-item" href="/sidebar/study.html">学习</a>
      <a class="sidebar-nav-item" href="/sidebar/music.html">音乐</a>
      <a class="sidebar-nav-item" href="https://github.com/djerrystyle">GitHub项目</a>
      <font size=2>Copyright &copy; 2017, Djerry Security. Awesome Inc. theme. Powered by 
	  <a href="http://hyde.getpoole.com" target="_blank">Hyde</a>&<a href="http://lanyon.getpoole.com" target="_blank">Lanyon</a>&<a herf="https://mademistakes.com">Made Mistakes</a>&<a herf="https://eduardoboucas.com">eb.</a>.<br>Photo by picateshackz.com</font>
    </nav>
  </div>
</label>
