<script src="/public/js/all_redirect.js"></script>
<script>
function selectText(element) {
    var text = element;
    if (document.body.createTextRange) {
        var range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) {
        var selection = window.getSelection();
        var range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
        /*if(selection.setBaseAndExtent){
            selection.setBaseAndExtent(text, 0, text, 1);
        }*/
    } else {
        console.log("none");
    }
}
$(document).ready(function(){
	var code=document.getElementsByClassName("highlighter-rouge");
	$(".highlighter-rouge").prepend('<div title="click全选" style="display:none;"><svg style="position:absolute;" width="25px" height="25px"><use xlink:href="/images/icons/icons.svg#comments"></use></svg></div>');
});
$(window).bind("load resize scroll",function() {
    var y = $(window).scrollTop();
    $(".socials_background").css('background-position', '50% ' + (y-$(window).width()/3) + 'px');
});
$(function(){
	original = new Image();//这里使得每次打开post文章都会新加载图像，而不是cache，因而会触发onload事件
	original.src = "{{page.image.original}}";//这条执行，就产生了网络行为
	original.onload = function () {//页面或图像加载完成后立即发生
		$('.this2').css({"background-image": "url('"+original.src+"')","opacity":"1"});//这里改变z-index会闪两下
		$('.socials_background').css({
		"-webkit-filter": "blur(0px)",
		"filter": "blur(0px)"});
		setTimeout(function () {$('.this1').remove();},1000);
	}
	$(".highlighter-rouge").mouseover(function(e){
	var c=e['currentTarget']['childNodes'][0]
	$(c).css({"display":"block"});
	$(c).click(function(){
	selectText(e['currentTarget'])})
	});
	$(".highlighter-rouge").mouseout(function(e){
	var c=e['currentTarget']['childNodes'][0]
	$(c).css({"display":"none"});
	});
});
</script>
<script src="/public/js/comment.js"></script>
<script src="/public/js/tag.js"></script>
<link rel="stylesheet" href="/public/css/comment.css">
<link rel="stylesheet" href="/public/css/navigation.css">
<link rel="stylesheet" href="/public/css/pager.css">
<div class="socials_parent">
	<div class="socials_background not-clear this1" style="background-image:url('{{page.image.cover-1}}');opacity: 1;">
	</div>
	<div class="socials_background not-clear this2" style="opacity: 0;">
	</div>
	<header class="page__header">
		<p class="intro-text">{{page.excerpt}}</p>
	</header>
	<div class="image-caption">
	{{ page.image.caption | markdownify | remove: '<p>' | remove: '</p>' }}
	</div>
	<div class="tag">
	<span class="tag-1">标签：</span>
	{% for i in page.tags %}
	<a class="con_button con_button2" href="blog_post.html">
	<span class="con_button_text" style="margin-left: 0px; padding-right: 10px;">{{i}}</span>
	<span class="con_button_arrow" style="left: 79px;">
	<span>{{i}}</span>
	</span>
	</a>
	{% endfor %}
	</div>
</div>
<div class="index">
<div class="page__wrap">
<div class="post">
<div class="masthead-bar">
	<div class="masthead-bar__face">
		<div class="masthead-bar__menu">
		<span class="masthead-bar__menu-item2">
		<a class="link link--active2" href="/archive/index.html">&#60;&#60;返回上层</a><!--这儿要使用转义字符-->
		</span>
		<span class="masthead-bar__menu-item3">
		<a class="link link--active">当前位置:</a>
		</span>
		<span class="masthead-bar__menu-item">
		<a class="link" href="/">首页</a>
		</span>
		<span class="masthead-bar__menu-item">
		<a class="link" href="/blog/">Blog</a>
		</span>
		<span class="masthead-bar__menu-item">
		<a class="link link--active3" href="/archive/index.html">最新文章</a>
		</span>
		<span class="masthead-bar__menu-item">
		<a class="link" href="">{{page.title}}</a>
		</span>
		</div>
		</div>		
</div>
	<h1 class="intro-title">{{page.title}}</h1>
	<p class="entry-meta">
	<button class="mindlink mindlink--takiri">MindMap <span>Useful thinking tool</span></button>
	<span class="byline-item">
	<svg class="icon icon--calendar" width="16px" height="16px">
	<use xlink:href="/images/icons/icons.svg#calendar"></use>
	</svg>
	<time>{{ page.date | date_to_string }}</time>
	</span>
	<span class="byline-item">
	<svg class="icon icon--stopwatch" width="16px" height="16px">
	<use xlink:href="/images/icons/icons.svg#comments"></use>
	</svg>{{page.readtime}}&nbsp;min&nbsp;read
	</span> 
	<span class="byline-item">
	<a href="#comments" class="link-comment">
	<svg class="icon icon--comments" width="16px" height="16px">
	<use xlink:href="/images/icons/icons.svg#comments"></use>
	</svg>
	</a>
	</span>
	<span class="byline-item">
	最后修改时间:{{page.last_modified_at}}
	</span>
	</p>
	<div class="grid__item">
	 
	</div>
	{{ content }}
</div>
{% include show-comments-1.html %}
<!--显示在_posts/同一文件夹下前后文章,这个可以在分类浏览时用到
<nav class="pager">
  <ul>
    {% if page.previous_in_category %}
      <li><a href="{{ page.previous_in_category.url | relative_url }}" class="previous"><svg class="icon icon--arrow-left" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-arrow-right' | prepend: 'assets/icons/' | absolute_url }}"></use></svg> {{ page.previous_in_category.title | markdownify | remove: '<p>' | remove: '</p>' }}</a></li>
    {% endif %}
    {% if page.next_in_category %}
      <li><a href="{{ page.next_in_category.url | relative_url }}" class="next">{{ page.next_in_category.title | markdownify | remove: '<p>' | remove: '</p>' }} <svg class="icon icon--arrow-right" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-arrow-right' | prepend: 'assets/icons/' | absolute_url }}"></use></svg></a></li>
    {% endif %}
  </ul>
</nav>
-->
</div>
<div class="post-send-next">
{% include post-comments.html %}
<nav class="pager">
  <ul>
    {% if page.previous %}
      <li><a href="{{ page.previous.url }}" class="previous"><svg class="icon icon--arrow-left" width="16px" height="16px">
	  <use xlink:href="/images/icons/icons.svg#icon-arrow-right"></use>
	  </svg> {{ page.previous.title | markdownify | remove: '<p>' | remove: '</p>' }}</a></li>
    {% endif %}
    {% if page.next %}
      <li><a href="{{ page.next.url }}" class="next">{{ page.next.title | markdownify | remove: '<p>' | remove: '</p>' }} <svg class="icon icon--arrow-right" width="16px" height="16px"><use xlink:href="/images/icons/icons.svg#icon-arrow-right"></use></svg></a></li>
    {% endif %}
  </ul>
</nav>
</div>
</div>


