<!doctype html>
<html lang="en">
<head>
<link rel="shortcut icon" href="/public/favicon.ico">
<title>文库·Djerry</title>
	<meta charset="UTF-8">
	<script type="text/javascript" src="http://hovertree.com/ziyuan/jquery/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="/public/css/timeline-style.css"> <!-- Resource style -->
	<script src="/public/js/timeline-modernizr.js"></script> <!-- Modernizr -->
	<script>
	jQuery(document).ready(function($){
		var timelineBlocks = $('.cd-timeline-block'),
			offset = 0.8;

		//hide timeline blocks which are outside the viewport
		hideBlocks(timelineBlocks, offset);

		//on scolling, show/animate timeline blocks when enter the viewport
		$(window).on('scroll', function(){
			(!window.requestAnimationFrame) 
				? setTimeout(function(){ showBlocks(timelineBlocks, offset); }, 100)
				: window.requestAnimationFrame(function(){ showBlocks(timelineBlocks, offset); });
		});

		function hideBlocks(blocks, offset) {
			blocks.each(function(){
				( $(this).offset().top > $(window).scrollTop()+$(window).height()*offset ) && $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
			});
		}
		function showBlocks(blocks, offset) {
			blocks.each(function(){
				( $(this).offset().top <= $(window).scrollTop()+$(window).height()*offset && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) && $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
			});
		}
	});
	</script>
<link rel="stylesheet" href="/public/css/navigation.css">
</head>
<body>
<div class="masthead-bar">
	<div class="masthead-bar__face">
		<div class="masthead-bar__menu">
		<span class="masthead-bar__menu-item2">
		<a class="link link--active2" href="/blog"><<返回上层</a>
		</span>
		<span class="masthead-bar__menu-item3">
		<a class="link link--active">当前位置:</a>
		</span>
		<span class="masthead-bar__menu-item">
		<a class="link" href="/">首页</a>
		</span>
		<span class="masthead-bar__menu-item">
		<a class="link" href="/blog">Blog</a>
		</span>
		<span class="masthead-bar__menu-item">
		<a class="link" href="">文库</a>
		</span>
		</div>
		</div>
</div>
	<header style="margin-top:1rem;">
		<h1>Responsive Vertical Timeline</h1>
	</header>
	<section id="cd-timeline" class="cd-container">
		{% for post in site.posts %}
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="/images/cool.png" alt="Picture">
			</div>
			<div class="cd-timeline-content">
				<h2>{{ post.title }}</h2>
				<p>{{ post.excerpt }}</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">{{ post.date | date_to_string }}</span>
			</div>
		</div>
		{% endfor %}
	</section>
</body>
</html>